$melon: #ffb5a7ff;
$melon-2: #fec5bbff;
$pale-dogwood: #fcd5ceff;
$misty-rose: #fae1ddff;
$seashell: #f8edebff;
$champagne-pink: #f9e5d8ff;
$champagne-pink-2: #f9dcc4ff;
$light-orange: #fcd2afff;
$peach: #fec89aff;